<mat-toolbar color="accent">
    <span class="title-center"> Banka </span>
  </mat-toolbar>
  
  <div class="container mat-elavation-z8">
    <div class="filter-field">
      <mat-form-field subscriptSizing="dynamic">
        <input matInput placeholder="Pretrazi..." name="filterField" (keyup)="applyFilter($event)"/>
      </mat-form-field>
    </div>
    <mat-table matSort [dataSource]="dataSource" class="mat-cell">
  
      <ng-container matColumnDef="id">
        <mat-header-cell mat-sort-header *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="naziv">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Naziv </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.naziv}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="kontakt">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Kontakt </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.kontakt}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pib">
        <mat-header-cell mat-sort-header *matHeaderCellDef> pib </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.pib}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="accent" (click)="openDialog(1)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <button mat-icon-button color="accent" (click)="openDialog(2, row.id, row.naziv, row.kontakt, row.pib)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="openDialog(3, row.id, row.naziv, row.kontakt, row.pib)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
      <mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>
    <mat-paginator [length]="15" [pageSize]="3" [pageSizeOptions]="[3,6,9]">
    </mat-paginator>
  </div>